<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

    <system.net>
      <connectionManagement>
        <!-- How to download multiple files concurrently using WebClient and the DownloadFileAsync method - jinak je prednastaveno pouze 2 spojeni najednou a ostatni cekaji -->
        <add address="*" maxconnection="5" />
      </connectionManagement>
    </system.net>

</configuration>
